.navbar {
    position: fixed !important;
    top: 0px;
    width: 80%;
    margin: auto;
}

#form {
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10%;
    columns: 2;
}

ul#sortable {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px;
    list-style-position: inside; /* Keeps numbers aligned inside grid cells */
    padding: 0;
    margin: 0;
}

ul#sortable li {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: move; /* Indicates sortable items */
}
/* #navbar {
    background-color:#990000;
    position:fixed;  
    z-index:1;
    width:100%;
    height:50px;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    top:0px;
  } */